{% load static %}

<footer class="footer pt-5 mt-5 m">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class=" row ">
      <div class="col-md-3 mb-4 ms-auto">
        <div>
          <h6 class="text-gradient text-primary font-weight-bolder">Live Blog</h6>
        </div>
        <div>

        </div>
      </div>


      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-gradient text-primary text-sm">Blog</h6>

        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-gradient text-primary text-sm">About Us</h6>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-gradient text-primary text-sm">Contacts</h6>
        </div>
      </div>

      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h6 class="text-gradient text-primary text-sm">Help & Support</h6>
        </div>
      </div>
    </div>
  </div>
</footer>
