{% load static %}
<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
          class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3"
             href="/" rel="tooltip"
             title="Designed and Coded by Creative Tim" data-placement="bottom">
            Soft UI Design System
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a href="{% url "blog:home-page" %}" aria-expanded="false" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                    >
                  Home Page
                </a>
               

              <li class="nav-item mx-2">
                <a href="{% url "blog:post-list" %}" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                    aria-expanded="false">
                  Blog
                </a>
              </li>

              <li class="nav-item  mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                   href="#"  aria-expanded="false">
                  About Us
                </a>
              </li>

              {% if request.user.is_authenticated %}
                <li class="nav-item ms-lg-auto">
                  <a class="nav-link nav-link-icon me-2"
                     href="{% url "blog:logout" %}">
                    <i class="fa fa-sign-out me-1"></i>
                    <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                       data-bs-placement="bottom" title="Logout">Logout</p>
                  </a>
                </li>
              {% else %}
                <li class="nav-item ms-lg-auto">
                  <a  class="nav-link nav-link-icon me-2"
                     href="{% url "blog:login" %}">
                    <i class="fa fa-sign-in me-1"></i>
                    <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                       data-bs-placement="bottom" title="Login">Login</p>
                  </a>
                </li>
              {% endif %}
              <li class="nav-item my-auto ms-3 ms-lg-0">
               
              </li>
              <li class="nav-item my-auto ms-3 ms-lg-0">
                 <div class="input-group mb-1">
                  <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
                  <input class="form-control" placeholder="Search" type="text">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
